html, body {
  margin: 0;
  padding: 0;
  background-color: #222;
}

h2{
  color: gold;
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 50px;
}

canvas {
  margin-top: 100px;
  display: block;
  border: 2px solid gold;
}

p{
  color: gold;
  position: relative;
  top: 80vh;
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
}

/* unvisited link */
a:link, a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: purple;
}